.content {
  h3 {
    margin-bottom: 2rem;
  }
  .control_buttons {
    margin-top:  1rem;
  }
  .content_item {
    padding: 10px 0 10px 0;
  }
}

.btn-bottom_border {
  padding: 10px;
}
img {
  width : 1.5rem;
  height : 1.5rem;
}
